    <div class="card mb-12">
    <div class="card-header">User Record</div>
    <div class="card-body table-responsive">
        <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the name column...'
        (keyup)='updateFilter($event)'/>
  
      <ngx-datatable #table class='bootstrap'
      [rows]="rows" 
      [columns]="columns" 
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [limit]="10"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
       >
       <table class="table table-striped" >
           <thead>
      <tr> 
          <th>    
               <ngx-datatable-column name="userId"></ngx-datatable-column>
          </th>
          <th>
               <ngx-datatable-column name="First Name"></ngx-datatable-column>
          </th>  
          <th>
               <ngx-datatable-column name="Last Name"></ngx-datatable-column>
          </th>
          <th>
               <ngx-datatable-column name="UserName"></ngx-datatable-column>
          </th>
          <th>
               <ngx-datatable-column name="Password"></ngx-datatable-column>
          </th>
          <th>
               <ngx-datatable-column name="Email"></ngx-datatable-column>  
          </th>  
          <th> 
                <ngx-datatable-column name="Address"></ngx-datatable-column>
          </th>
          <th>
             <ngx-datatable-column name="User Phone"></ngx-datatable-column>
         </th>
         <th>
            <ngx-datatable-column name="Gender"></ngx-datatable-column>
          </th>
         <th>
             <ngx-datatable-column name="Role"></ngx-datatable-column>   
         </th>
</tr>
    </thead>
       </table>    
  
      <ngx-datatable-column name="Action" prop="userId" [sortable]="false">
          <ng-template let-rowIndex="rowIndex" let-id="userId" let-value="value" ngx-datatable-cell-template>
              <button class="btn btn-sm btn-primary actionBtn" [routerLink]="['/user/edituser/'+value]">
                <i class="fa fa-edit"></i> Edit
              </button>
              <button class="btn btn-sm btn-danger actionBtn" (click)="deleteUser(value)">
                  <i class="fa fa-trash"></i> Delete
              </button>
          </ng-template> 
      </ngx-datatable-column> 
      
      </ngx-datatable>     
    </div>
  </div>