<div class="card mb-12">
  <div class="card-header">Land Record</div>
  <div class="card-body table-responsive">
      <input
      type='text'
      style='padding:8px;margin:15px auto;width:30%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'/>

    <ngx-datatable #table class='bootstrap'
    [rows]="rows" 
    [columns]="columns" 
    [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'"
    [limit]="10"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    >
    <ngx-datatable-column name="landInfoId"></ngx-datatable-column>
    <ngx-datatable-column name="Street Name"></ngx-datatable-column>
    <ngx-datatable-column name="No of Anna"></ngx-datatable-column>
    <ngx-datatable-column name="Price In Anna"></ngx-datatable-column>
    <ngx-datatable-column name="Land Area"></ngx-datatable-column>
    <ngx-datatable-column name="Land Quality"></ngx-datatable-column>     
    <ngx-datatable-column name="Total Land Value"></ngx-datatable-column>
  
    <ngx-datatable-column name="Action" prop="landInfoId" [sortable]="false" >
        <ng-template let-rowIndex="rowIndex" let-id="landInfoId" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-primary actionBtn" [routerLink]="['/land/editland/'+value]">
              <i class="fa fa-edit"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger actionBtn" (click)="deleteLand(value)">
                <i class="fa fa-trash"></i> Delete
            </button>
        </ng-template> 
    </ngx-datatable-column> 
    
    </ngx-datatable>     
  </div>
</div>
