   <div class="card mb-12">
  <div class="card-header">Payment Record</div>
  <div class="card-body table-responsive">
      <input
      type='text'
      style='padding:8px;margin:15px auto;width:30%;'
      placeholder='Type to filter the name column...'
      (keyup)='updateFilter($event)'/>

    <ngx-datatable #table class='bootstrap'
    [rows]="rows" 
    [columns]="columns" 
    [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'"
    [limit]="10"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'">
    <ngx-datatable-column name="propertyTaxPaymentId"></ngx-datatable-column>
    <ngx-datatable-column name="Payment Type"></ngx-datatable-column>
    <ngx-datatable-column name="Curren Year Amount"></ngx-datatable-column>
    <ngx-datatable-column name="Due Amount"></ngx-datatable-column>
    <ngx-datatable-column name="Total Payment Amount"></ngx-datatable-column>
    <ngx-datatable-column name="Payment Date"></ngx-datatable-column>     
    
    <ngx-datatable-column name="Action" prop="propertyTaxPaymentId" [sortable]="false">
        <ng-template let-rowIndex="rowIndex" let-id="propertyTaxPaymentId" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-sm btn-primary actionBtn" [routerLink]="['/payment/editpayment/'+value]">
              <i class="fa fa-edit"></i> Edit
            </button>
            <button class="btn btn-sm btn-danger actionBtn" (click)="deletePayment(value)">
                <i class="fa fa-trash"></i> Delete
            </button>
        </ng-template> 
    </ngx-datatable-column> 
    
    </ngx-datatable>     
  </div>
</div>