<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>       
         
        <!--user-->
        <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('user')">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>{{ 'User' | translate }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'user'">
                    <ul class="submenu">
                        <li>
                            
                            <a [routerLink]="['/user/adduser']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>{{ 'Add User' | translate }}</span>
                            </a>
                        </li>
                        <li>
                                <a [routerLink]="['/user/viewuser']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'View User' | translate }}</span>
                                </a>
                        </li>
                        
                        <li>
                                <a [routerLink]="['/user/edituser']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'Edit User' | translate }}</span>
                                </a>
                        </li>
                
                    </ul>
                </li>
            </div><!--user-->
                  

        <!--property registration-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('register')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Property Registration' | translate }}</span>
            </a> 
                   <li class="nested" [class.expand]="showMenu === 'register'">
                      <ul class="submenu">
                              <li>
                                   <a [routerLink]="['/register/addproperty']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'Add Property' | translate }}</span>
                                   </a>
                                </li>
                                <li>                                   
                                   <a [routerLink]="['/register/viewproperty']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'View Property' | translate }}</span>
                                   </a>    
                                </li>
                                <li>                                   
                                    <a [routerLink]="['/register/editproperty']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'Edit Property' | translate }}</span>
                                   </a>  
                                </li>
                        </ul>
                   </li>
            </div>   
               
                                         
             <!--proeprty transfer -->                       
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('transfer')">
                      <i class="fa fa-plus"></i>&nbsp;
                      <span>{{ 'Property Transfer' | translate }}</span>
                </a>   
                    <li class="nested" [class.expand]="showMenu === 'transfer'">
                            <ul class="submenu">
                                <li>
                                    <a [routerLink]="['/transfer/addtransfer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                            <span>{{ 'Add Transfer' | translate }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/transfer/viewtransfer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                            <span>{{ 'View Transfer' | translate }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/transfer/edittransfer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                            <span>{{ 'Edit Transfer' | translate }}</span>
                                     </a>
                                </li>
                            </ul>
                       </li> 
                 </div>   
                
        <!--Payment-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('payment')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Payment' | translate }}</span>
            </a> 
                   <li class="nested" [class.expand]="showMenu === 'payment'">
                      <ul class="submenu">
                              <li>
                                   <a [routerLink]="['/payment/addpayment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'Add Payment' | translate }}</span>
                                   </a>
                                </li>
                                <li>                                   
                                   <a [routerLink]="['/payment/viewpayment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'View Payment' | translate }}</span>
                                   </a>    
                                </li>
                                <li>                                   
                                    <a [routerLink]="['/payment/editpayment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'Edit Payment' | translate }}</span>
                                   </a>  
                                </li>
                        </ul>
                   </li>
            </div>  
                 
        <!--House Information-->
        
         <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('house')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'House Info' | translate }}</span>
            </a> 
                   <li class="nested" [class.expand]="showMenu === 'house'">
                      <ul class="submenu">
                              <li>
                                   <a [routerLink]="['/house/addhouse']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'Add House' | translate }}</span>
                                   </a>
                                </li>
                                <li>                                   
                                   <a [routerLink]="['/house/viewhouse']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'View House' | translate }}</span>
                                   </a>    
                                </li>
                                <li>                                   
                                    <a [routerLink]="['/house/edithouse']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'Edit House' | translate }}</span>
                                   </a>  
                                </li>
                        </ul>
                   </li>
            </div>  
            
             <!--Land Information-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('land')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Land Info' | translate }}</span>
            </a> 
                   <li class="nested" [class.expand]="showMenu === 'land'">
                      <ul class="submenu">
                              <li>
                                   <a [routerLink]="['/land/addland']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <span>{{ 'Add Land' | translate }}</span>
                                   </a>
                                </li>
                                <li>                                   
                                   <a [routerLink]="['/land/viewland']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'View Land' | translate }}</span>
                                   </a>    
                                </li>Land
                                <li>                                   
                                    <a [routerLink]="['/land/editland']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'Edit Land' | translate }}</span>
                                   </a>  
                                </li>
                        </ul>
                   </li>
            </div>    
            <!-- tax calculation -->
            <!-- <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('taxcalculation')">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>{{ 'Tax Calculation' | translate }}</span>
                </a> 
                       <li class="nested" [class.expand]="showMenu === 'taxcal'">
                          <ul class="submenu">
                                  <li>
                                       <a [routerLink]="['/taxcalculation/taxcal']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <span>{{ 'tax ' | translate }}</span>
                                       </a>
                                    </li>   
                          </ul>                                         
                </div>     -->
 
        <div class="header-fields">     
            <div class="nested-menu"> 
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp;Usha Chaudhary</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>            
        </div>       
    </div> 
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>

</nav>
