<!--

  <div class="panel panel-info" style="margin-top: 40px; background: #F0F0F0">
  
  <div class="panel-heading" style="background:#222222;height:40px">
    <h4 style="text-align: center; color: white;padding-top:5px">Edit User</h4>
  </div>
  
  <form class="form-horizontal" (ngSubmit)="updateUser()" #userEditForm="ngForm">
      <fieldset>
      
      
     
      <div class="form-group">
        <label class="col-md-4 control-label" for="firstName">FirstName:</label>  
        <div class="col-md-4">
        <input id="FirstName" [(ngModel)]="userModel.firstName" 
        name="firstName" type="text" placeholder="firstname" class="form-control input-md">
          
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastName">LastName:</label>  
        <div class="col-md-4">
        <input id="LastName" [(ngModel)]="userModel.lastName" 
        name="lastName" type="text" placeholder="lastname" class="form-control input-md">
          
        </div>
      </div>          
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="userName" style="margin-top:20px">Username:</label>  
        <div class="col-md-4">
        <input id="Username" [(ngModel)]="userModel.userName" 
        name="userName" type="text" placeholder="username" class="form-control input-md">
          
        </div>
      </div>
      
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="userPassword">Password:</label>
        <div class="col-md-4">
          <input id="Password" [(ngModel)]="userModel.userPassword" 
          name="userPassword" type="password" placeholder="password" class="form-control input-md">
          
        </div>
      </div>
      

      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email:</label>  
        <div class="col-md-4">
        <input id="Email" [(ngModel)]="userModel.email" 
        name="email" type="text" placeholder="Email" class="form-control input-md">
          
        </div>
      </div>
           
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="address">Address:</label>  
        <div class="col-md-4">
        <input id="Address" [(ngModel)]="userModel.address" 
        name="address" type="text" placeholder="address" class="form-control input-md">
          
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="phone">Contact:</label>  
        <div class="col-md-4">
        <input id="Phone" [(ngModel)]="userModel.phone" 
        name="phone" type="text" placeholder="contact" class="form-control input-md">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="gender">Gender:</label>  
        <div class="col-md-4">
        <input id="Gender" [(ngModel)]="userModel.gender" 
        name="gender" type="text" placeholder="Gender" class="form-control input-md">
          
        </div>
      </div> 

      <div class="form-group">
        <label class="col-md-4 control-label" for="role">Role:</label>  
        <div class="col-md-4">
        <input id="Role" [(ngModel)]="userModel.role" 
        name="role" type="text" placeholder="Role" class="form-control input-md">
          
        </div>
      </div> 
           
      <div class="form-group">
        <label class="col-md-4 control-label" for="update"></label>
        <div class="col-md-8">
          <button id="Save" name="update" class="btn btn-success">Update</button>
          <button id="Cancel" name="Cancel" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      
      </fieldset>
      </form>
      </div>
-->
