
  <div class="panel panel-info" style="margin-top: 40px; background: #F0F0F0">
  
  <div class="panel-heading" style="background:#222222;height:40px">
    <h4 style="text-align: center; color: white;padding-top:5px">Edit User</h4>
  </div>
  
  <form class="form-horizontal" (ngSubmit)="editUser()" #userEditForm="ngForm">
      <fieldset>       
     
      <div class="form-group">
        <label class="col-md-4 control-label" for="firstName">FirstName:</label>  
        <div class="col-md-4">
        <input id="FirstName" [(ngModel)]="userModel.firstName" 
        name="firstName" type="text" class="form-control input-md">
          
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="lastName">LastName:</label>  
        <div class="col-md-4">
        <input id="LastName" [(ngModel)]="userModel.lastName" 
        name="lastName" type="text" class="form-control input-md">
          
        </div>
      </div>          
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="userName" style="margin-top:20px">Username:</label>  
        <div class="col-md-4">
        <input id="Username" [(ngModel)]="userModel.userName" 
        name="userName" type="text" class="form-control input-md">
          
        </div>
      </div>
      
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="userPassword">Password:</label>
        <div class="col-md-4">
          <input id="Password" [(ngModel)]="userModel.userPassword" 
          name="userPassword" type="password"  class="form-control input-md">
          
        </div>
      </div>
      

      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email:</label>  
        <div class="col-md-4">
        <input id="Email" [(ngModel)]="userModel.email" 
        name="email" type="text" class="form-control input-md">
          
        </div>
      </div>
           
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="address">Address:</label>  
        <div class="col-md-4">
        <input id="Address" [(ngModel)]="userModel.address" 
        name="address" type="text"  class="form-control input-md">
          
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="phone">Contact:</label>  
        <div class="col-md-4">
        <input id="Phone" [(ngModel)]="userModel.phone" 
        name="phone" type="text"  class="form-control input-md">
          
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="gender">Gender</label>
        <div class="col-md-4">
          <label class="radio-inline">
            <input type="radio" value="M" name="gender" [(ngModel)]="userModel.gender" checked="checked">
            Male
          </label>
       
          <label class="radio-inline">
            <input type="radio" value ="F" name="gender" [(ngModel)]="userModel.gender">
            Female
          </label>  
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="role">Role:</label>  
          <div class="col-md-4">
            <input id="Role" [(ngModel)]="userModel.role" 
            name="role" type="text" placeholder="Role" class="form-control input-md">               
          </div>
        </div>  
<!-- 
      <div class ="form-group">  
        <label class="col-md-4 control-label" for="role">Role</label>
        <div class="col-md-4">
             <select class="form-control" id="role" [(ngModel)]="userModel.role">
              <option value="" selected></option>    
              <option value="admin">admin</option>
                  <option value="user">user</option>
             </select>
       </div>
       </div> -->
           
      <div class="form-group">
        <label class="col-md-4 control-label" for="update"></label>
        <div class="col-md-8">
          <button id="Save" name="update" class="btn btn-success">Update</button>
          <button id="Cancel" name="Cancel" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      
      </fieldset>
      </form>
      </div>

