<div class="panel panel-info" style="margin-top: 40px; background: #F0F0F0">
  <!-- Default panel contents -->
  <div class="panel-heading" style="background:#222222;height:40px">
    <h4 style="text-align: center; color: white;padding-top:5px">Add House</h4>
  </div>  
  
   <form name=" houseform" class="form-horizontal" (ngSubmit)="addHouse()" >
    <fieldset>
       <div class="form-group">
        <label class="col-md-4 control-label" for="houseNo">HouseNo</label>  
        <div class="col-md-4">
          <input  type="number" [(ngModel)]="HouseModel.houseNo"  
          name="houseNo"   placeholder="houseNo" class="form-control input-md">
        </div>
      </div>  
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="wardNo">wardNo</label>  
        <div class="col-md-4">
          <input  type="number" [(ngModel)]="HouseModel.wardNo" 
          name="wardNo" class="form-control input-md">
        </div>
      </div>      

      <div class="form-group">
        <label class="col-md-4 control-label" for="streetName">streetName</label>  
        <div class="col-md-4">  
          <input type="text" name="streetName" [(ngModel)]="HouseModel.streetName" class="form-control input-md">
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="houseArea">houseArea</label>  
        <div class="col-md-4">
          <input type="number" name="houseArea" [(ngModel)]="HouseModel.houseArea" 
             class="form-control input-md" />
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label" for="housePrice">House Price</label>
          <div class="col-md-4">
            <input type="number" [(ngModel)]="HouseModel.housePrice" 
            name="housePrice" class="form-control input-md" />
          </div>
      </div> 
        
      <div class="form-group">
          <label class="col-md-4 control-label" for="totalHouseValue">totalHouseValue</label>
          <div class="col-md-4">
            <input type="number" [(ngModel)]="HouseModel.totalHouseValue" 
            name="totalHouseValue" class="form-control input-md" />
          </div>
      </div>      
             
     <div class="form-group">
      <label class="col-md-4 control-label" for="save"></label>
      <div class="col-md-8">
        <button id="save" name="save" type="ngSubmit" class="btn btn-success">Save</button>
        <button id="Cancel" name="Cancel" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    </fieldset>
  </form>
</div> 

